.Navbar {
  width: 100%;
}
.Navbar_normal {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  background: -webkit-linear-gradient(to right, #1e90ff, #1755d1);
  background: linear-gradient(to right, #1e90ff, #06439e);
}
.Nav_logo_con {
  text-align: left;
}

.Navbar_normal a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.Nav_right_items {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.Navbar_mobile {
  display: none;
}

@media (max-width: 820px) {
  .Navbar_mobile {
    display: none;
  }
  .Navbar_normal {
  }
}

@media (max-width: 480px) {
  .Navbar_normal {
    display: none;
  }
  .Navbar_mobile {
    display: contents;
    width: 100%;
  }
  .mobile_nav_container {
    padding: 10px;
    background: -webkit-linear-gradient(to right, #1e90ff, #1755d1);
    background: linear-gradient(to right, #1e90ff, #06439e);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Navbar_mobile > div {
  }
  .Navbar_mobile button {
    background-color: unset;
    border: none;
  }
  .mobile_nav_items.hide {
    display: none;
  }
  .mobile_nav_items {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(10, 98, 109);
    position: absolute;
    right: 0px;
    width: 50%;
    background-color: white;
    border-bottom-left-radius: 10px;
    z-index: 4;
  }
  .mobile_nav_container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .mobile_nav_items a {
    border-bottom: 1px solid grey;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
